<h1>Udemy Angular Course</h1>
<nav>
  <ul class="pagination">
    <li 
    class="page-item"
    [ngClass]="{disabled : currentPage === 0}"
    (click)="currentPage = currentPage -1">
      <a class="page-link">Prev</a>
    </li>
    @for (image of images; track image; let i = $index;) {
      @if (i < 5) {
        <li 
        class="page-item"
        [ngClass]="{active : i === currentPage}">
          <a 
          class="page-link"
          (click)="currentPage = i">
            {{ i + 1 }}
        </a>
        </li>
      }
    }
    <li 
    class="page-item"
    [ngClass]="{disabled : currentPage === images.length -1}"
    (click)="currentPage = currentPage +1">
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>
<section>
  <div>
    <h4>{{ images[currentPage].title }}</h4>
    <img [src]="images[currentPage].url"/>
    </div>
</section>